
/*
 * remove dialog standard padding
 */
.sapMDialog .sapMDialogScrollCont {
	padding: 0;
}
/*
modify two
*/


/*
 * do not wrap tile info 
 */
.sapMStdTileInfo {
	white-space: normal;
	margin-top: 0rem;
	text-align: left;
	color: #555;
}

/*
 * make tile title larger
 */
.sapMStdTileTitle {
	font-size: 1.1rem;
}
.tab{
	text-align:center;	
}
.tcosth{
	text-indent:50px;
	color:#ff0000;
}
.refresh{
	padding:0;
	padding-left:10px;
	background:transparent;
	color:white;
}
.sapMFeedListItemTextText{
	padding-right:55px
}

.sapMShellCentralBox {
	width: 1024px;
	margin-left: -512px;
	left: 50%;
	background: url(/TravelSteward/img/bgimg.jpg);
}

.bgImage {
	background: url(/TravelSteward/img/p1.jpg);
}
.sapMText,.sapMOH .sapMObjectAttributeDiv,.sapMObjStatus,.sapUiBody,.sapMBar-CTX.sapMPageHeader .sapMLabel,
.sapMDialog-CTX .sapMBar-CTX .sapMLabel,.sapMListTbl .sapMText, .sapMListTbl .sapMLabel,.sapMObjLTitle,.sapMBtn,
.sapMITBText,.sapMFeedListItemTextName,.sapMFeedListItemTextText,.sapMFeedListItemFooter,.sapMBar-CTX.sapMFooter-CTX .sapMLabel{
	font-family: Microsoft YaHei,Arial,Helvetica,sans-serif;
}


.sapMOH {
font-family: Microsoft YaHei,Helvetica,sans-serif;
}

.sapMObjectAttributeDiv {
	font-family: Microsoft YaHei,Helvetica,sans-serif;
}
