
/*
 * remove dialog standard padding
 */
.sapMDialog .sapMDialogScrollCont {
	padding: 0;
}

/*
 * do not wrap tile info 
 */
.sapMStdTileInfo {
	white-space: normal;
	margin-top: 0rem;
	text-align: left;
	color: #555;
}

/*
 * make tile title larger
 */
.sapMStdTileTitle {
	font-size: 1.1rem;
}
.tab{
	text-align:center;	
}
.tcosth{
	text-indent:50px;
	color:#ff0000;
}
.refresh{
	padding:0;
	padding-left:10px;
	background:transparent;
	color:white;
}
.sapMFeedListItemTextText{
	padding-right:40px
}

